@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: grey;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}

.main {
    width: 90vw;
    height: 80vh;
    background-color: #fff;
    margin: 5rem auto;
    border-radius: 2rem;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

/* profile side section */

.profile {
    width: 30vw;
    height: 80vh;
    background-color: rgb(255, 213, 0);
    justify-content: center;
    align-content: center;
    text-align: center;
    padding: .5rem;
    color: #3b3b3b;
    z-index: 4;
}

.heading {
    color: #3b3b3b;
    font-size: 1.5rem;
}

.profile__img {
    width: 30vw;
    height: 30vh;
    margin: 2.5rem auto;
    padding: .5rem;
    object-fit: fill;
}

.profile__paragraph {
    padding: 2rem 5rem;
    font-size: 1rem;
}

.profile__arrow {
    background: #3b3b3b;
    border-radius: 50%;
    padding: 1rem;
    width: 2rem;
    height: 2rem;
    transition: rotate 1s ease-in-out;
}

.checkbox:checked~.profile .profile__arrow {
    rotate: 180deg;
}

/* end of profile side section */


/* slider */
.slider {
    background-color: rgb(255, 145, 0);
    color: #3b3b3b;
    transform: translateX(-1000px);
    transition: transform 1s ease-in-out;
}


.slider__heading {
    margin: 8rem 8rem 0rem 4rem;

}

.slider__paragraph {
    padding: 2rem 4rem 2rem 0;
    line-height: 1.5rem;
    margin: 0rem 8rem 8rem 4rem;
}

.slider a {
    color: #3b3b3b;
    font-weight: bold;
}

.slider a:visited {
    accent-color: var(--accent-color);
}

.checkbox:checked~.slider {
    transform: translateX(0px);

}

/* end of slider */


/* sign up form  */

.sign-up__container {
    width: 0px;
    transition: transform 1s ease-in-out;
    color: #3b3b3b;

}

.checkbox:checked~.sign-up__container {
    transform: translateX(-1000px);
}

.sign-up__form {
    display: flex;
    flex-direction: column;
    justify-items: space-evenly;
    align-items: flex-end;
    width: 45vw;
    padding: 1rem 4rem 1rem 1rem;
    margin: 1rem 4rem 0 0rem;
}

.sign-up__form:focus label {
    color: rgb(255, 145, 0);
}

.sign-up__input {
    width: 15rem;
    padding: .5rem 1rem;
    background-color: rgba(0, 0, 0, .05);
    border-radius: .5rem;
    font-family: 'josefin sands', sans-serif;
    font-size: 1rem;
    color: #3b3b3b;
    letter-spacing: .05rem;
    outline: none;
    border: .1rem solid rgb(195, 195, 195);
    transition: background-color .3s;
    margin: .9rem 2rem;

}

.sign-up__input:focus {
    background-color: rgb(248, 248, 248);
    color: rgb(255, 145, 0);
    outline: rgb(255, 145, 0);
    border: 1px solid rgb(255, 145, 0);
}

.sign-up__label:focus {
    color: rgb(255, 145, 0);
}

.sign-up__gender {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    margin: .5rem 2rem;
    padding: 0 .5rem;
    color: #3b3b3b;
    position: relative;
    border: 1px solid rgb(255, 145, 0);

}

.sign-up__gender p {
    text-align: center;
    margin-right: 4rem;
}

.sign-up__gender img {
    background: #ccc;
    width: 2.5rem;
    aspect-ratio: 1;
    object-fit: scale-down;
    margin: 0 .8rem;
    border-radius: 50%;
    transition: background 1s ease-in-out;
}

.sign-up__input--male:checked~.click--male img {
    background: #3b3b3b;
}

.sign-up__input--female:checked~.click--female img {
    background: #3b3b3b;
}

.sign-up__calendar {
    position: relative;
}

.sign-up__calendar__img {
    position: absolute;
    top: 1.4rem;
    right: 3rem;
    cursor: pointer;
}

.sign-up__form fieldset {
    width: 50vw;
    border: none;
}


.sign-up__membership {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: flex-end;
    text-align: center;
    margin: .5rem 2rem;
    padding: 0 .5rem;
    color: #3b3b3b;
}

.sign-up__membership p {
    text-align: baseline;
    margin-right: 2rem;


}

.sign-up__membership img {
    background: #ccc;
    width: 2.5rem;
    aspect-ratio: 1;
    object-fit: scale-down;
    border-radius: 50%;
    transition: background 1s ease-in-out;
}

.sign-up__input--classic:checked~.click--classic img {
    background: #3b3b3b;
}

.sign-up__input--silver:checked~.click--silver img {
    background: #3b3b3b;
}

.sign-up__input--gold:checked~.click--gold img {
    background: #3b3b3b;
}


.form__button {
    display: flex;
    justify-content: flex-end;
    text-align: center;
}

.cancel__button {
    background-color: lightgray;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    border-radius: 4px;
    margin-right: 10px;
}

.save__button {
    background-color: #39b298;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    border-radius: 4px;
    margin-left: 10px;
}

/* end of sign up form  */



/* media queries  */
@media(max-width: 1024px) {

    .heading {
        font-size: 1.2rem;
    }

    .profile__img {
        width: 25vw;
        height: 25vh;
        margin: 2rem auto;
    }

    .profile__paragraph {
        padding: 2rem 1rem;
        font-size: .9rem;
    }

    .profile__arrow {
        padding: 1rem;
        width: 2rem;
        height: 2rem;
    }
}

@media(max-width: 768px) {

    .heading {
        font-size: .9rem;
    }

    .profile__img {
        width: 20vw;
        height: 25vh;
        margin: 2rem auto;
    }

    .profile__paragraph {
        padding: 1.7rem 0;
        font-size: .7rem;
    }

    .profile__arrow {
        padding: 1rem;
        width: 1.5rem;
        height: 1.5rem;
    }

    .slider__heading {
        margin: 8rem 8rem 0rem 4rem;

    }

    .slider__paragraph {
        padding: 2rem 4rem 2rem 0;
        margin: 0rem 4rem 8rem 4rem;
        font-size: .8rem;
    }

    .sign-up__container {
        font-size: .8rem;
        padding-top: 1rem;
    }

    .sign-up__form {
        padding: .5rem 2rem .5rem .5rem;
        margin: .5rem 2rem 0 0rem;
    }

    .sign-up__input {
        width: 10rem;
        padding: .5rem 1rem;
        font-size: .8rem;
        letter-spacing: .03rem;
        margin: .9rem 1rem;
    }

    .sign-up__gender p {
        margin-right: .5rem;
    }

    .sign-up__gender img {
        width: 1rem;
        height: 1rem;
        object-fit: scale-down;
        padding: 0.2rem;
    }

    .sign-up__calendar__img {
        top: 1.4rem;
        right: 2rem;
    }

    .sign-up__form fieldset {
        width: 45vw;
    }


    .sign-up__membership {
        margin: .3rem 1rem;
    }

    .sign-up__membership p {
        margin-right: 1rem;
    }

    .sign-up__membership img {
        width: 1rem;
        height: 1rem;
        object-fit: scale-down;
        padding: 0.2rem;
    }

    .form__button {
        margin: 20px 10px;
    }
}

@media(max-width: 480px) {

    .main {
        width: 50vw;
        height: 100vh;
        background-color: grey;
        display: flex;
        flex-direction: column;
        align-content: center;
        margin: 0 auto;
        overflow: visible;
    }

    .profile {
        width: 50vw;
        height: 100vh;
        margin: 0 auto;
        justify-content: center;
        align-content: center;
        text-align: center;
    }

    .heading {
        color: #3b3b3b;
        font-size: 1.4rem;
    }

    .profile__img {
        margin: 1.5rem auto;

    }

    .profile__paragraph {
        padding: 2rem 3rem;
        font-size: .9rem;
    }

    .profile__arrow {
        background: #3b3b3b;
        border-radius: 50%;
        padding: 1rem;
        width: 1rem;
        height: 1rem;
        rotate: 90deg;
        transition: rotate 1s ease-in-out;
    }

    .checkbox:checked~.profile .profile__arrow {
        rotate: 270deg;
    }

    .slider {
        width: 53.3vw;
        height: 100vh;
        margin: 0 auto;
        justify-content: center;
        align-content: center;
        text-align: flex-start;
        transform: translateY(-1000px);
        padding: 1rem 0;
    }

    .slider__heading {
        margin: 1rem auto;
        padding: 1rem;
    }

    .slider__paragraph {
        padding: 1rem 1rem;
        line-height: 1.5rem;
        margin: 0 0 3rem 0;
        font-size: .9rem;
    }


    .checkbox:checked~.slider {
        transform: translateY(0px);
    }

    .sign-up__container {
        height: 0px;
        padding-top: 0;

    }

    .checkbox:checked~.sign-up__container {
        transform: translateY(-1000px);
    }

    .sign-up__input {
        padding: .5rem .5rem;
        background-color: #ccc;
        font-size: .7rem;
        margin: .9rem 0;
    }

    .sign-up__label:focus {
        color: rgb(255, 145, 0);
    }

    .sign-up__gender {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        margin: 0 .5rem .5rem .5rem;
        font-size: .8rem;
        padding: 0 .5rem;
        color: #ccc;

    }

    .sign-up__label--male {
        grid-column: 1 /2;
        grid-row: 2/3;
    }

    .sign-up__label--female {
        grid-column: 2 /3;
        grid-row: 2/3;
    }

    .sign-up__gender p {
        text-align: flex-start;
        font-size: .8rem;
        margin-right: 1.5rem;
        color: #3b3b3b;
    }

    .sign-up__gender img {
        background: #ccc;
        height: 1rem;
        width: 1rem;
        padding: .3rem;
        border-radius: 50%;
        transition: background 1s ease-in-out;
    }

    .sign-up__input--male:checked~.click--male img {
        background: rgb(242, 242, 242);
    }

    .sign-up__input--female:checked~.click--female img {
        background: rgb(242, 242, 242);
    }

    .sign-up__calendar__img {
        top: 2.2rem;
        right: 2.4rem;

    }

    .sign-up__membership {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        margin: 0 .5rem .8rem 1rem;
        font-size: .8rem;
        padding: 0 0 0 1rem;
        color: #ccc;
        text-transform: capitalize;
        text-align: start;
    }

    .sign-up__label--classic {
        grid-column: 1 /2;
        grid-row: 2/3;
    }

    .sign-up__label--silver {
        grid-column: 2 /3;
        grid-row: 2/3;
    }

    .sign-up__label--gold {
        grid-column: 1 /2;
        grid-row: 3/4;
        right: 1.5rem;

    }

    .sign-up__membership p {
        text-align: flex-start;
        font-size: .8rem;
        color: #3b3b3b;
        right: -1rem;
    }

    .sign-up__membership img {
        background: #ccc;
        height: 1rem;
        width: 1rem;
        padding: .3rem;
        border-radius: 50%;
        transition: background 1s ease-in-out;
    }

    .sign-up__input--classic:checked~.click--classic img {
        background: rgb(242, 242, 242);

    }

    .sign-up__input--silver:checked~.click--silver img {
        background: rgb(242, 242, 242);

    }

    .sign-up__input--gold:checked~.click--gold img {
        background: rgb(242, 242, 242);

    }

    .form__button {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-content: center;
        justify-items: flex-start;
        width: 95%;
        overflow: hidden;
    }

    .cancel__button {
        margin-right: 0px;

    }

    .save__button {
        margin-top: .5rem;
        margin-left: 0px;


    }

}

/* end of media queries  */